.container{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	height: 90px;
	background: #ffffff;
}
nav ul {
	list-style: none;padding-left: : 2;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	text-decoration: none; color: #626262; font-size: 15px; padding: 0px 15px;
	border-right: 0px solid #626262;font-family: 'PT Sans', sans-serif; 
}
nav ul li:last-child a{
	padding-right: 2; border-right: none;
}
nav ul li a:hover, .menu-activo{
	color: #00aeff;
}
#header-lower{
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	height: 110px;
	border-bottom: 0px solid #000000;
	background: #e2e7ed;
	padding-left: 102px;
}
#header-lower nav ul li a{
	padding: 0px 20px;
	border: 0px solid #ccc;
}
#header-lower nav ul span{
	padding: 20px 55px;
	border: 0px solid #ccc;
	font-size: 38px;
	padding-left: 75px;
	padding-bottom: 20px;
}
#menu-one{
	padding-top: 20px;
	padding-bottom: 65px;
	width: 100%;
	height: 620px;
	border-bottom: 0px solid #000000;
	background: #908ef3;
}
#menu-one nav ul span{
	padding: 0px 65px;
	border: 0px solid #ccc;
	font-size: 27px;
	color: #ffffff;
	border: 0px solid #ccc;
	padding-left: 165px;
}
#categoria{
	width: 100%;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 10px;
}
.uno{
	padding: 54px 40px;
	padding-left: 175px;
	width: 600px;
	height: 500px;
	border: 0px solid;
	float: left;
	padding-top: 0px;
	font-family: sans-serif;
}
.tema{
	padding: 15px 0px; 
	color: #000000;
}
.texto{
	color: #000000; font-size: 11px
}
.uno1{
	margin-left:0px;
	padding: 54px 0px;
	padding-top: 0px;
}



#menu-two{
	padding-top: 20px;
	padding-bottom: 65px;
	width: 100%;
	height: 620px;
	border-bottom: 0px solid #000000;
	background: #58d99c;
}
#menu-two nav ul span{
	padding: 0px 65px;
	border: 0px solid #ccc;
	font-size: 27px;
	color: #ffffff;
	border: 0px solid #ccc;
	padding-left: 165px;
}
#categoria2{
	width: 100%;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 10px;
}
.dos{
	padding: 54px 40px;
	padding-left: 175px;
	width: 600px;
	height: 500px;
	border: 0px solid;
	float: left;
	padding-top: 0px;
	font-family: sans-serif;
}
.tema{
	padding: 15px 0px; 
	color: #000000;
}
.texto{
	color: #000000; font-size: 11px
}
.loco{
	margin-left:774px;
	padding: 54px 0px;
	padding-top: 0px;
}



#menu-three{
	padding-top: 20px;
	padding-bottom: 65px;
	width: 100%;
	height: 620px;
	border-bottom: 0px solid #000000;
	background: #f4776d;
}
#menu-three nav ul span{
	padding: 0px 65px;
	border: 0px solid #ccc;
	font-size: 27px;
	color: #ffffff;
	border: 0px solid #ccc;
	padding-left: 165px;
}
#categoria3{
	width: 100%;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 10px;
}
.tres{
	padding: 54px 40px;
	padding-left: 175px;
	width: 600px;
	height: 500px;
	border: 0px solid;
	float: left;
	padding-top: 0px;
	font-family: sans-serif;
}
.tema{
	padding: 15px 0px; 
	color: #000000;
}
.texto{
	color: #000000; font-size: 11px
}
.tres1{
	margin-left:0px;
	padding: 54px 0px;
	padding-top: 0px;
}



#menu-four{
	padding-top: 20px;
	padding-bottom: 65px;
	width: 100%;
	height: 620px;
	border-bottom: 0px solid #000000;
	background: #edca52;
}
#menu-four nav ul span{
	padding: 0px 65px;
	border: 0px solid #ccc;
	font-size: 27px;
	color: #ffffff;
	border: 0px solid #ccc;
	padding-left: 165px;
}
#categoria4{
	width: 100%;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 10px;
}
.cuatro{
	padding: 54px 40px;
	padding-left: 175px;
	width: 600px;
	height: 500px;
	border: 0px solid;
	float: left;
	padding-top: 0px;
	font-family: sans-serif;
}
.tema{
	padding: 15px 0px; 
	color: #000000;
}
.texto{
	color: #000000; font-size: 11px
}
.cuatro1{
	margin-left:0px;
	padding: 54px 0px;
	padding-top: 0px;
}
#header-end{
	color: #000000;
	background: #31313e;
}
#header-final{
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	height: 225px;
	border-bottom: 0px solid #000000;
	background: #31333e;
}
.texto002s{
	color: #ffffff;
	padding: 0px 15px;
	border: 0px solid #e70811;
}
.cuatro002{
	color: #ffffff;
	padding: 0px 15px;
	font-size: 11px;
}
#menu-final{
	padding: 12px 20px;
	padding-left: 85px;
	width: 700px;
	height: 200px;
	border: 0px solid #e70811;
	float: left;
}
#menu-final nav ul li a{
	color: #ffffff;
	float: left;
	padding: 0px 15px;
}
#icons{
	padding: 20px 0px;
	padding-left: 100px;
	width: 500px;
	height: 100px;
	border: 0px ;
	float: left;
	}
.cinco{
	padding-left: 43px;
}
.facebook{
	color: #ffffff;
	background: #23599c;
}
.linkedin{
	color: #ffffff;
	background: #006dc4;
}
.twitter{
	color: #ffffff;
	background: #00c7f8;
}
.pinterest{
	color: #ffffff;
	background: #e70811;
}
.basketball{
	color: #ffffff;
	background: #ff5c96;
}
.google{
	color: #ffffff;
	background: #f23c2a;
}
